extends layout

block content
    h1= "Create a new Rectangle"

    form(method='POST' action='')
        label(for='width') Width of Rectangle:
        input#width(type='number', name='width')
        br
        label(for='height') Height of Rectangle:
        input#height(type='number', name='height')
        br
        label(for='color') Color of Rectangle:
        input#color(type='color', name='color')
        br
        label(for='freq') Number of occurences:
        input#freq(type='number', name='freq')
        br
        label(for='border') Border thickness:
        input#border(type='number', name='border')
        br
        label(for='borderradius') Border Radius:
        input#borderradius(type='number', name='borderradius')
        br
        label(for='font') Font Family:
        input#font(type='text', name='font')
        br
        input(type='submit')